<h2>Thanks for visiting HouHealth.</h2>

<h3>About the App</h3>
<p>
  I like eating, especially in Houston. We've got a great food scene, but we lack transparency in health code inspections.
</p>

<p>
  When I found this dataset, I immediately started searching for my favorite restaurants (which was a much nastier experience than you see here). I built this app with the hope that other people would find the data as interesting as I did. Maybe the exposure will lead to safer practices in our restaurants.
</p>

<h3>About the Data</h3>
<p>
  This app was built with data made freely available via <a href="http://data.ohouston.org">Houston's data portal</a>. The data includes all health inspections conducted from 2012 through the first fiscal quarter of 2015.
</p>

<h3>Technologies Used</h3>
<p>
This site was built with <a href="http://rubyonrails.org">Ruby on Rails</a>. <a href="http://getbootstrap.com">Bootstrap</a> handles the front-end, and it's deployed to a <a href="http://www.digitalocean.com">Digital Ocean</a> droplet via <a href="https://www.docker.co://www.docker.com">Docker</a>.
</p>

<p>This project is open-source.  Check it out at my Github: <a href="https://github.com/mtchllbrrn">mtchllbrrn</a></p>

<h3>License</h3>
<small>
<p>The MIT License (MIT)</p>

<p>Copyright (c) <%= Time.now.year %> Mitchell Barron</p>

<p>Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:</p>

<p>The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.</p>

<p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.</p>
</small>
<hr>
<p><small><em>Credit to Guillaume Beaulieu for the HouHealth logo and to David Swanson for the cutesy "No results found" face.</em></small></p>
