<div class="center jumbotron">
  <div>
    <%= image_tag "logo.svg", alt: "logo" %>
    <h1>Welcome to HouHealth</h1>
  </div>
  <h2>
    Wondering how your favorite Houston restaurants fare in health inspections?
    Try searching above.
  </h2>
</div>
